body {
    font-family: Arial, sans-serif;
	background-color: rgb(135, 154, 156);
	color: #000000;
}

.formWrapper {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
}

.formHeader {
    margin-bottom: 25px;
}

.inputLabel {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.formInputText {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
}

.submitButton {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background: #0056b3;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#error-heading {
    color: rgb(126, 4, 233);
    font-size: 24px;
    margin-bottom: 20px;
}

#error-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}