<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="formWrapper">
	<h1>Official ECSS HackStart Feedback Form™</h1>
    <h2 class="formHeader">Enter your name and university email</h2>

    <form method="POST" action="/page2">
        <label class="inputLabel" for="name">Name</label>
        <input
			class="formInput formInputText"
            type="password"
            id="name"
            name="name"
            placeholder="Enter name"
            required
        >

        <label class="inputLabel" for="name">ID number</label>
        <input
			class="formInput formInputText"
            type="number"
            id="name"
            name="name"
            placeholder="Enter ID number"
            required
        >

        <label class="inputLabel" for="email">Email</label>
        <input
			class="formInput formInputText"
            type="email"
            id="email"
            name="email"
            placeholder="Enter email"
            required
        >

        <button class="submitButton" type="submit">Next</button>
    </form>
</div>

</body>
</html>
