<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="formWrapper">
    <h1 class="formHeader">Upload your HackStart project and waive all permissions</h1>
    <form method="POST" action="/page10">
        <label class="inputLabel" for="name">Project zip file</label>
        <input
			class="formInput formInputText"
            type="file"
            id="email"
            name="univowel"
            placeholder="Upload hackathon project zip file"
            required
        >
		<label>I waive all copyright to my project to Team Probably indefinitley</label>
		<input type="checkbox" required/>
        <button class="submitButton" type="submit">Submit</button>
    </form>
</div>

</body>
</html>
