<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="formWrapper">
    <h1 class="formHeader">Date of birth:</h1>

        <input type="hidden" name="email" value="{{email}}">

        <div class="diceRow">
        <div class="diceWrapper">
            <h5>d</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result1">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('1')">Roll</button>
        </div>

        <div class="diceWrapper">
            <h5>d</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result2">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('2')">Roll</button>
        </div>

        <h1 class="slash">/</h1>

        <div class="diceWrapper">
            <h5>m</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result3">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('3')">Roll</button>
        </div>

        <div class="diceWrapper">
            <h5>m</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result4">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('4')">Roll</button>
        </div>

        <h1 class="slash">/</h1>

        <div class="diceWrapper">
            <h5>y</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result5">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('5')">Roll</button>
        </div>

        <div class="diceWrapper">
            <h5>y</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result6">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('6')">Roll</button>
        </div>

        <div class="diceWrapper">
            <h5>y</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result7">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('7')">Roll</button>
        </div>

        <div class="diceWrapper">
            <h5>y</h5>
            <div class="diceArea" id="dice-arena">
                <div class="dice">
                    <h1 id="result8">?</h1>
                </div>
            </div>
            <button class="rollButton" onclick="rollDice('8')">Roll</button>
        </div>
        </div>

        <form method="POST" action="/page8">
            <p id="dob"></p>
            <div id="button-grid">
                <button class="submitButton" type="submit">Submit</button>
                <a href="/"><button class="retryButton">Retry</button></a>
            </div>
        </form>
        
</div>

<script>
async function rollDice(id) {
  const numRolls = 20;

  for (let roll = 0; roll < numRolls; roll++) {
    const number = Math.floor(Math.random() * 10);
    document.getElementById("result" + id).textContent = number;

    document.getElementById("dob").textContent.charAt = roll;

    const duration = 100 * (roll / numRolls);
    
    await new Promise(r => setTimeout(r, duration));
  }
}
</script>

</body>
</html>
