<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="formWrapper">
    <h1 class="formHeader">Enter email backwards</h1>

    <form method="POST" action="/page4">
        
        <input type="hidden"
        value="{{email[::-1]}}"
        name="email_original"
        >
        <label class="inputLabel" for="email">Email</label>
        <input
			class="formInput formInputText"
            type="email"
            id="email"
            name="email_backwards"
            placeholder="Enter email backwards"
            required
        >

        <button class="submitButton" type="submit">Submit</button>
    </form>
</div>

</body>
</html>
