<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="formWrapper">
    <h1 class="formHeader">Enter your uni email again</h1>

    <form method="POST" action="/page6">
		<input
			type="hidden"
			value="{{email}}"
			required
			name="email1"
		/>
		<input
			type="hidden"
			value="{{second_email}}"
			required
			name="second_email"
		/>

        <label class="inputLabel" for="email">Reënter E-Mail</label>
        <input
			class="formInput formInputText"
            type="email"
            id="email"
            name="email2"
            placeholder="Enter email"
            required
        >

       <div id="button-grid">
            <a href="/"><button class="submitButton">Retry</button></a>
            <button class="retryButton" type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>
